@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lumanosimo&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.service_head{
    width: max-content;
    color:#5fcf80;
    font-weight: bold;
    margin: auto;
    margin-bottom: 40px;
}


.member_outer{
    font-size: 25px;
    font-family: "Lumanosimo";
    height: auto;
}
.member_outer i{
    font-size: 30px;
    color: #5fcf80;
}
.member_bttn{
    position: absolute;
    bottom: 10px;
    right: 10%;
    background-color: #5fcf80;
    color: white;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}
.gallery_bttn{
    background-color: #5fcf80;
    color: white;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin: auto;
    margin: 15px 0px;
    margin-right: 0px;
}
.gallery_bttn:hover{
    background-color: white;
    border: solid 1px #5fcf80;
    color: #5fcf80;
}
.btn_outer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.rules_li{
    margin: 10px 0px;
}
.gallary img{
    margin: 15px 0px;
}
.gallery_img img{
    width: 100%;
    height: 200px;
}
.s_cards{
    margin: 15px 0px;
}
.s_cards:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}
.animate{
    animation: move 2s ease-in-out infinite alternate-reverse both;
}
.watch_bt{
  height: 49px;
}
@keyframes move{
0%{
    transform: translateY(10px);
}
100%{
    transform: translateY(-10px);
}

}
.trainers .main_img{
    border: solid 2px #5fcf80;
    padding: 15px;
}
.trainers .first_content::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: #5fcf80;
    top: 20%;
    z-index: -1;
}
/* ******button customised****** */
.hero_btn {
    margin-top: 10px;
    left: 121%;
    color: black;
    position: relative;
    padding: 12px 40px;
    background: #5fcf80;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #5fcf80;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  
  .hero_btn:hover {
    color: black;
    border: 1px solid #5fcf80;
    animation: wind 2s ease-in-out infinite;
  }

  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
  }
  
  .hero_btn:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .hero_btn:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .hero_btn:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }

    /* *****end of button****** */


    /* ******card custom***** */

    .wallet {
      --bg-color: #5fcf80;
      --bg-color-light: #f0e7ff;
      --text-color-hover: #fff;
      --box-shadow-color: rgba(206, 178, 252, 0.48);
    }
    
    .card {
      border: none;
      width: 220px;
      height: 300px;
      background: #fff;
      border-top-right-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
      transition: all 0.3s ease-out;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    .card:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
    }
    
    .card:hover .overlay {
      transform: scale(4) translateZ(0);
    }
    
    .card:hover .circle {
      border-color: var(--bg-color-light);
      background: var(--bg-color);
    }
    
    .card:hover .circle:after {
      background: var(--bg-color-light);
    }
    
    .card:hover p {
      color: var(--text-color-hover);
    }
    
    .card p {
      font-size: 17px;
      color: #4c5656;
      margin-top: 30px;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
    
    .circle {
      width: 131px;
      height: 131px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid var(--bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-out;
    }
    
    .circle:after {
      content: "";
      width: 118px;
      height: 118px;
      display: block;
      position: absolute;
      background: var(--bg-color);
      border-radius: 50%;
      top: 7px;
      left: 7px;
      transition: opacity 0.3s ease-out;
    }
    
    
    
    .overlay {
      width: 118px;
      position: absolute;
      height: 118px;
      border-radius: 50%;
      background: var(--bg-color);
      top: 70px;
      left: 50px;
      z-index: 0;
      transition: transform 0.3s ease-out;
    }
    .main_ic{
      z-index: 9;
      font-size: 26px;
      color: white;
    }
    /* ******end card******* */

    
    
    .about .content ul li{
      padding-bottom: 0px;
    }

    .icon-boxes h2{
      text-align: center;
    }
    .span_d{
      color: rgb(121, 0, 121);
      font-weight: bold;
    }


@media (max-width: 768px) {
  #hero .hero_btn{
    font-size: 14px;
    padding: 8px 33px;;
  }
}

@media (max-width: 460px) {
    #hero .hero_btn{
    display: none;
   } 
   .counts .counters span{
    font-size: 30px;
   }
   .ab_img{
    display: flex;
    justify-content: center;
   }
   .trainers .first_content::before{
    display: none;
   }
   .watch_bt{
    position: absolute;
    right: 6%;
    top: -79%;
    height:auto;
   }
   
}
