{% extends 'base.html' %}

{% load static %}
{% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>About Us</h2>
      <p>Sullamussalam Science College Areekode</p>
    </div>
  </div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/course-details-tab-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>History Of Sullamussalam Science College Library</h3>
          <hr>
          <p class="fst-italic">
            The college library, started 1996, situated in the central part of the campus is one among fully automated
            notable libraries focused on quality based collection and best services in Kerala. The Library is a member
            in the N-list Programme under INFLIBNET. Including the Digital Library all functions of the library is
            developed in the light of S.R Ranganathan`s theory of `Five Laws of Library Science`. All days except
            sundays and public holidays are working days from 8.30am to 5.00pm.
            The Digital Library is available in the all Departments of the College, Women Resource Centre, Computer Labs
            and Language Lab through Campus Network . Separate sections are arranged for the users especially in
            Reference Service, Career Guidance Corner, Comparative Religion, Bound volumes of the Journals, CD Bank,
            Question Bank, Subject Books.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Solar Power backup</li>
            <li><i class="bi bi-check-circle"></i> Video Surveillance</li>
            <li><i class="bi bi-check-circle"></i> Reprographic Service
            </li>
            <li><i class="bi bi-check-circle"></i> Water Purifier
            </li>
            <li><i class="bi bi-check-circle"></i> Ramp for disabled
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Books</p>
        </div>

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Anything</p>
        </div>

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Anything</p>
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

  <section id="gallery" class="gallery">

    <div class="container">
      <h1>Gallery</h1>
      <hr>
      <div class="row">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
          <p class="text-center" style="font-size: x-large; font-weight: bold">Hello World</p>
        </a>

      </div>
    </div>
    <script>
      $(document).on("click", '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <style>
      .row {
        margin: 15px;
      }
    </style>
    </div>
  </section>
</main>

{% endblock content %}