{% extends 'base.html' %} {% load static %} {% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>About Us</h2>
      <p>Sullamussalam Science College Areekode</p>
    </div>
  </div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about" style="padding: 40px 20px">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img
            src="{% static 'assets/img/first2.png' %}"
            class="img-fluid animate"
            alt=""
            style="max-width: 80%; height: auto"
          />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Facilities and Services</h3>
          <hr />
          <p class="fst-italic">
            The college library, started 1996, situated in the central part of the campus is one among fully automated
            notable libraries focused on quality based collection and best services in Kerala. The Library is a member
            in the N-list Programme under INFLIBNET. Including the Digital Library all functions of the library is
            developed in the light of S.R Ranganathan`s theory of `Five Laws of Library Science`. All days except
            sundays and public holidays are working days from 8.30am to 5.00pm.
            The Digital Library is available in the all Departments of the College, Women Resource Centre, Computer Labs
            and Language Lab through Campus Network . Separate sections are arranged for the users especially in
            Reference Service, Career Guidance Corner, Comparative Religion, Bound volumes of the Journals, 
            Question Bank, Subject Reference.
          </p>
        
        </div>
      </div>
      <div class="row " style="padding: 70px 0px; ">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content " style="padding: 20px 30px; display: flex; justify-content: center;">
          <div style="width: 90%; background-color:  #5fcf80; border-radius: 5px; padding: 40px 30px;  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; "  data-aos="fade-right" >
          <h3  style="margin: auto; width: max-content; color: white; font-size: 30px;">Mission</h3>
          <br></br>
          <p style="color: whitesmoke; font-family:sans-serif;">Our mission is to provide a rich tapestry of resources and services that support learning, research, and personal growth. We aim to cultivate information literacy, critical thinking, and a passion for lifelong learning among students, faculty, and staff. By fostering an inclusive and dynamic environment, we contribute to the academic success and advancement of our college community.</p>
        </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content " style="padding: 20px 30px; display: flex; justify-content: center;">
          <div style="width: 90%; background-color:  #5fcf80; border-radius: 5px; padding: 40px 30px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;" data-aos="fade-left">
        <h3 style="margin: auto; width: max-content; color: white; font-size: 30px;">Vission</h3>
        <br></br>
        <p style="color: whitesmoke; font-family: sans-serif;">Our vision is to be an innovative and collaborative hub, seamlessly integrating knowledge, technology, and community. We aspire to inspire curiosity, facilitate research, and empower individuals to excel in their academic pursuits. Through dynamic spaces and evolving resources, we aim to shape lifelong learners and thought leaders across diverse disciplines.</p>
        </div>
        </div>

      </div>
      <div class="row " style="padding: 40px 0px; " > 
        
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content "  style="align-items: center; justify-content: center; display: flex;">
          <img
           data-aos="fade-right"
            src="{% static 'assets/img/orientation.png' %}"
            class="img-fluid rules_img animate"
            alt=""
            style="max-width: 60%; height: auto"
          />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content " style=" display:flex ;align-items: center;">
            <div  data-aos="fade-left">
            <h3>Library orientation program</h3>
            <hr />
            <br/>
            <p>
              This program seek to familiarize students with services, spaces, and resources offered through the library, and can be tailored to specific audiences. Typically, the program is 30-60 minutes in length and incorporate a variety of hands-on or exploratory activities.The main goals of library orientation are to introduce students to the library's services and resources, as well as to educate and guide them on how to use the library's services and resources.          </p>
                          
            </div>
            </div>
      </div>
      <div class="row" style="display: flex; ">
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <h3>Library rules</h3>
          <hr />
          <ul class="rules_li">
              <li style=" display:flex">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              Library is kept
              open from 8:30 am to 5.00 pm on all working days including
              Saturdays
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <P>
              All students and staff are entitled to membership in the library
            </P>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              They have to submit an application in the prescribed form to avail
              of this privilege
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              The members have to keep the library cards issued to them
              carefully and produce them at the time of borrowing books
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              Borrowed books have to be returned to the library within 14 days,
              falling which the members will have to pay a fine of Rs.1 per day.
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              Books and other articles in the library must be handled very
              carefully
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              The damage or loss of these is to be compensated as per the Govt.
              Order
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p>
              Students must return library cards to the library before they
              claim their hall tickets for the final semester examination
            </p>
            </li>
            <li style="display: flex;">
              <i class="fa-sharp fa-regular fa-circle-dot"></i>
              <p> Clearance from
              the library is to be attained before applying for
              transfer certificates.
            </p>
            </li>
          </ul>
        </div>
        <div
          class="col-lg-6 order-1 order-lg-2 ab_img d-flex align-items-center justify-content-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img
            src="{% static 'assets/img/man2.png' %}"
            class="img-fluid rules_img animate"
            alt=""
            style="max-width: 70%; height: auto"
          />
        </div>
      </div>
      <div class="row " style="padding: 40px 0px;">
        <h3 style="width: max-content; margin: auto; font-weight: bold;">Library Development Commitee</h3>
     
          <hr  style="margin-top: 9Px;"/>
          
          <div
          class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" style="display: flex; justify-content: center;">
          <table class="table table-borderless" style="width: 80%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td> Muhammed   Ilyas</td>
                    <td>Principal</td>
                    <td>Chairman</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Abdul kader</td>
                    <td>Librarian</td>
                    <td>Convener</td>
                </tr>
               
                <tr>
                  <td></td>
                  <td>Jabir Amani</td>
                  <td>IQAC Coordinator </td>
                  <td>Member</td>
              </tr> 
              <tr>
                <td></td>
                <td>Dr Musthafa Farooqui</td>
                <td>Vise Principal</td>
                <td>Member</td>
            </tr>   
            <tr>
              <td></td>
              <td>Muneer Hussain</td>
              <td>Asst. Proffessor of Computer Science </td>
              <td>Member</td>
          </tr>  
          <tr>
            <td></td>
            <td>Ashfar</td>
            <td>Asst. Proffessor of English</td>
            <td>Member</td>
        </tr>  
        <tr>
          <td></td>
          <td>Sameeha Rahmani</td>
          <td>Asst. Proffessor of Maths </td>
          <td>Member</td>
      </tr>    
          <tr>
            <td></td>
            <td>Muhammed shahil Ak</td>
            <td>Union secretary</td>
            <td>Member</td>
        </tr>                
            </tbody>
        </table>
        </div>
      </div>  
    </div>
  </section>
  <!-- End About Section -->
</main>

{% endblock content %}
