{% extends 'base.html' %}
{% load static %}


{% block content %}

<section id="hero" class="d-flex justify-content-center align-items-center firstsection" style=" background: none;">
  <div class=" position-relative" >
    <video width="100%" height="100%" playsinline autoplay muted  loop poster="{% static 'assets/img/cover_img2.jpg' %}">
      <source src="{% static 'assets/img/landing_vid.mp4' %}" type="video/mp4" >
      <source src="{% static 'assets/img/landing_vid.ogg' %}" type="video/ogg">
    </video>
    <div class="sullamcontent"data-aos="zoom-in" data-aos-delay="100">
    <h1>Sullamussalam Science College<br>Library</h1>
    <h2>Discover the magic of books at our library, where imagination knows no bounds</h2>
    <a href="#about" class="btn-get-started">Explore</a>
    </div>
  </div>
  <style>
    #hero{
      height: 100vh;
    }
    .sullamcontent{
      position: absolute;
      top: 40%;
      left: 5%;
    }
    
    @media (max-width: 768px) {
    #hero {
      height: max-content;
    }
  
    #hero h1 {
      font-size: 20px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 15px;
      line-height: 24px;
    }
    #hero .btn-get-started {
      font-size: 10px;
    }
    
    .sullamcontent{
      top: 20%;
    }
    }
    @media (max-width: 400px) {
        #hero h1{
            font-size: 16px;
        }
        #hero h2{
            font-size: 12px;
        }
    }
   
  
    </style>
</section>
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about" >
    <div class="container" >

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" >
          <img src="{% static 'assets/img/bookshelf.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Sullamussalam Science College Library</h3>
          <hr>
          <p class="fst-italic">
            The college library, started 1996, situated in the central part of the campus is one among fully automated
            notable libraries focused on quality based collection and best services in Kerala. The Library is a member
            in the N-list Programme under INFLIBNET. Including the Digital Library all functions of the library is
            developed in the light of S.R Ranganathan`s theory of `Five Laws of Library Science`. All days except
            sundays and public holidays are working days from 8.30am to 5.00pm.
            The Digital Library is available in the all Departments of the College, Women Resource Centre, Computer Labs
            and Language Lab through Campus Network . Separate sections are arranged for the users especially in
            Reference Service, Career Guidance Corner, Comparative Religion, Bound volumes of the Journals, CD Bank,
            Question Bank, Subject Books.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Solar Power backup</li>
            <li><i class="bi bi-check-circle"></i> Video Surveillance</li>
            <li><i class="bi bi-check-circle"></i> Reprographic Service
            </li>
            <li><i class="bi bi-check-circle"></i> Water Purifier
            </li>
            <li><i class="bi bi-check-circle"></i> Ramp for disabled
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" data-aos="zoom-in-up">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Books</p>
        </div>

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Anything</p>
        </div>

        <div class="col-lg-4 col-4 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Anything</p>
        </div>
      </div>

    </div>
  </section>
  <style>
    @media (max-width: 460px) {
   
   .counts .counters span{
    font-size: 30px;
   }
}

  </style>
  
  <!-- End Counts Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us service_section">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div  class="col-lg-12"><h1 class="service_head">Services</h1></div>
              <div class="col-xl-3 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0" style="border: solid 1px #5fcf80;">
                  <i class="bx bx-receipt"></i>
                  <h4>Career guidance corner</h4>
                  <p >The college has set up a separate section in library exclusively for students preparing for competitive examinations like Civil Service UGC-NET....</p>
                </div>
              </div>
              <div class="col-xl-3 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0 " style="border: solid 1px #5fcf80;">
                  <i class="bx bx-cube-alt"></i>
                  <h4>E-resource centre</h4>
                  <p>Access to National Library and Information Services Infrastructure for Scholarly Content (NLIST) resources is available using the username and password.
                  </p>
                </div>
              </div>
              <div class="col-xl-3 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0" style="border: solid 1px #5fcf80;">
                  <i class="bx bx-images"></i>
                  <h4>Plagiarism checker</h4>
                  <p>The college library has the facility to detect plagiarism using the software URKUND.</p>
                </div>
              </div>
              <div class="col-xl-3 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0" style="border: solid 1px #5fcf80;">
                  <i class="fa-solid fa-gear"></i>
                  <h4>Reprographic service</h4>
                  <p>A reprographic centre is functioning inside the library. This facility intended for copying various library resources and other outside resources.
                    </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
        <div class="col-lg-12  btn_outer"><a href="{% url 'service' %}"><button class="gallery_bttn">View more</button</a></div>
      </div>
    </div>
  </section>
  


  
  <section class="gallary" id="gallary">

    <div class="container"data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: #5fcf80; font-weight: bold;" class="gallery_head">Gallery</h1>
      <hr>
      <div class="row gallary_img">
        <a href="{% static 'assets/img/gallery/IMG_3415.jpg' %}"  data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3415.jpg' %}" class="img-fluid rounded">
        </a>
        <a href="{% static 'assets/img/gallery/IMG_3399.jpg' %}" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3399.jpg' %}" class="img-fluid rounded">
        </a>
        <a href="{% static 'assets/img/gallery/IMG_3400.jpg' %}" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3400.jpg' %}" class="img-fluid rounded">
        </a>
      </div>
      <div class="row">
        <a href="{% static 'assets/img/gallery/IMG_3401.JPG' %}" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3401.JPG' %}" class="img-fluid rounded">
        </a>
        <a href="{% static 'assets/img/gallery/IMG_3402.jpg' %}" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3402.jpg' %}" class="img-fluid rounded">
        </a>
        <a href="{% static 'assets/img/gallery/IMG_3404.jpg' %}" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="{% static 'assets/img/gallery/IMG_3404.jpg' %}" class="img-fluid rounded">
        </a>
        <div class="col-lg-12  btn_outer"><a href="{% url 'gallery' %}"><button class="gallery_bttn">View more</button></a></div>
      </div>
    </div>
    <script>
      $(document).on("click", '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <style>
      .row {
        margin: 15px;
      }
      @media (max-width: 460px) {
        .gallery_head{
          margin: auto;
          width: max-content;
        }

      }
     
    </style>
  </section>
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100" style="display: flex; flex-direction: row;">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch justify-content-center" style="border-top: solid 2px #5fcf80;">
          <div class="member" style="margin-top: 30px;">
            <img src="{% static 'assets/img/trainers/abdulkader.jpg' %}" class="img-fluid" alt="">
            <div class="member-content">
              <h4>ABDUL KADER KM </h4>
              <span>Librarian</span>
            </div>
          </div>
        </div>
        <div class="col-lg-9 c0l-md-6 d-flex justify-content-center align-items-center" style="border-bottom: solid 2px #5fcf80;">
          <div class="member_outer">
            <i class="fa-sharp fa-solid fa-quote-left"></i>
            <p style="margin-left: 30px; " class="tought_c">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit tempore veritatis ut nam ullam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit tempore veritatis ut nam ullam </p>
            <i class="fa-sharp fa-solid fa-quote-right" style="width: max-content; margin-left: 100%;"></i>
          </div>
        </div>
        <div class="col-lg-12  btn_outer"><a href="{% url 'members' %}"><button class="gallery_bttn" >View more</button></a></div>
      </div>

    </div>
    <style>
      .member_outer p{
        font-size: 28px;
      }
      @media (max-width: 460px) {
        .member_outer p{
          font-size: 15px;
        }
      }
  
    </style>
  </section>
  
</main>

{% endblock content %}