{% extends 'base.html' %}

{% load static %}
{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Services</h2>
        <p>Sullamussalam Science College Areekode</p>
      </div>
    </div>


<section id="why-us" class="why-us service_section" style="padding: 30px 20px;">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch" >
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-12 d-flex align-items-stretch" id="ct-1">
                  <div class="icon-box service_box mt-4 mt-xl-0" style=" margin: 16px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color:#f3f5fa" data-aos="fade-right"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine">
                    <i class="bx bx-receipt" style="background-color: white;"></i>
                    <h4>Career guidance corner</h4>
                    <p >The college has set up a separate section in library exclusively for students preparing for competitive examinations like Civil Service UGC-NET, MBA, MCA and other tests conducted by PSC & UPSC There are more than thousand books in this section which is k open on all days except Sundays </p>
                  </div>
                </div>
                <div class="col-xl-12 d-flex align-items-stretch" id="ct-2">
                  <div class="icon-box mt-4 mt-xl-0 " style="margin: 16px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"data-aos="fade-left"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine">
                    <i class="bx bx-cube-alt"></i>
                    <h4>E-resource centre</h4>
                    <p>Access to National Library and Information Services Infrastructure for Scholarly Content (NLIST) resources is available using the username and password. More than one lakh e-resources are available through this programme. This provides access to e-resources to the students, researchers and faculty members from UGC-Info-net Consortium in world wide range.
                    </p>
                  </div>
                </div>
                <div class="col-xl-12 d-flex align-items-stretch" id="ct-6">
                  <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color:#f3f5fa" data-aos="fade-right"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine">
                    <i class="fa-solid fa-check-to-slot"style="background-color: white;"></i>                    <h4>Plagiarism checker</h4>
                    <p>The college library has the facility to detect plagiarism using the software <a href="https://secure.urkund.com/">URKUND</a>. The software helps to detect the possible plagiarism in a document and generates a report showing the similarties with other documents.</p>
                  </div>
                </div>
                <div class="col-xl-12 d-flex align-items-stretch" id="ct-7">
                  <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" data-aos="fade-left"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine">
                    <i class="fa-solid fa-gear"></i>
                                         <h4>Reprographic service</h4>
                    <p>A reprographic centre is functioning inside the library. This facility intended for copying various library resources and other outside resources.
                      </p>
                  </div>
                </div>
                <div class="col-xl-12 d-flex align-items-stretch" id="ct-5">
                    <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;background-color:#f3f5fa" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                      <i class="fa-solid fa-laptop"style="background-color: white;"></i>
                     <h4>OPAC Service</h4>
                      <p>The computerized bibliographic details of books are available in the library through the Online Public Access Catalogue. It is a searching tool for a library document and its details.
                        </p>
                    </div>
                  </div>
                  <div class="col-xl-12 d-flex align-items-stretch" id="ct-8">
                    <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" data-aos="fade-left"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                      <i class="fa-solid fa-book"></i>
                          <h4>Reference section</h4>
                      <p>Here, you'll find a carefully curated collection of authoritative and reliable resources to support your academic pursuits and research endeavors. Our reference materials have been meticulously selected to cater to the diverse needs of students, faculty, and researchers across various disciplines. Whether you're seeking in-depth subject-specific encyclopedias, comprehensive dictionaries, specialized handbooks, or academic journals, our reference section has it all.
                        </p>
                    </div>
                  </div>
                  <div class="col-xl-12 d-flex align-items-stretch" id="ct-4">
                    <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;background-color:#f3f5fa" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                      <i class="fa-solid fa-mobile-screen-button"style="background-color: white;"></i>
                      <h4>Digital library</h4>
                      <p>Our digital library is designed to provide convenient and seamless access to a wide range of academic materials, enriching the learning experience of our students, faculty, and staff. With a diverse collection of e-books, research papers, journals, and multimedia content, this online platform empowers users to explore subjects across disciplines, from the arts to sciences. As part of our commitment to fostering a culture of continuous learning, our digital library offers a user-friendly interface that allows for effortless searching, browsing, and downloading of resources. Embracing the ever-evolving digital landscape, our college's digital library stands as a beacon of academic excellence, empowering our community to embark on an exciting journey of discovery and intellectual growth.
                        </p>
                    </div>
                  </div>
                  <div class="col-xl-12 d-flex align-items-stretch" id="ct-9">
                    <div class="icon-box mt-4 mt-xl-0" style="margin: 16px 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" data-aos="fade-left"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                      <i class="fa-solid fa-boxes-stacked"></i>
                                                                  <h4>Open resources</h4>
                      <p>We believe in the power of knowledge sharing and the importance of open access to educational materials. In this section, you'll discover a wide array of open educational resources that are freely available for anyone to access and use. These resources include open textbooks, lecture notes, academic articles, multimedia content, and much more, covering diverse subjects and disciplines. Embracing the spirit of openness and collaboration, our Open Resources section aims to supplement traditional course materials, promote lifelong learning, and support both students and educators in their academic journeys. We invite you to explore these valuable resources and tap into the wealth of knowledge they offer.
                        </p>
                    </div>
                  </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section>
  
</main>

{% endblock content %}